@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');


.nav-item {
    font-family: "Ruslan Display";
    font-size: 1.3rem;
}

.logo {
    font-family: "Ruslan Display";
    font-size: 2.5rem;
}

.btn-reservation {
    $offset: 110px;
    font-family: "Ruslan Display";
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 0;
    border: 2px solid white;
    position: absolute;
    right: 30px;
    top: $offset;
    @media (max-width: 768px) { 
        top: $offset + 10px;
    }
}

.thumbnail-content {
    position: relative;
    font-family: "Ruslan Display";
    color: white;
    h1 {
        font-size: 2rem;
    }
    top: 30%;
    padding-left: 30px;
}


.thumbnail {
    background-image: url(/public/assets/top_pub1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -10;
}