@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');


.nav-item {
    font-family: "Ruslan Display";
    font-size: 1.3rem;
}

.logo {
    font-family: "Ruslan Display";
    font-size: 2.5rem;
}

.btn-reservation {
    $offset: 110px;
    font-family: "Ruslan Display";
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 0;
    border: 2px solid white;
    position: absolute;
    right: 30px;
    top: $offset;
    @media (max-width: 768px) { 
        top: $offset + 10px;
    }
}

.thumbnail-content {
    position: absolute;  // absolute to bg img
    font-family: "Ruslan Display";
    color: white;
    bottom: 200px;
    h1 {
        font-size: 1rem;
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) { 
            font-size: 1rem;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
            font-size: 2rem;
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) { 
            font-size: 3rem;
        }
    }
}
